
<div class="center">
    <div class="content" >
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Soy un apasionado del desarrollo y analisis</h1>
                <p> Constantemente me encuentro sumando conocimientos y aprendiendo nuevas tecnologias para mejorar en mis trabajos</p>
                <p>Esta web la construi desde cero con Python y Flask!</p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar lo que quieras!</h1>
                <p>Solo enviame un correo <a class="color-secundario" href="#contacto">pinchando aqui</a></p>
            </div>
        </div>    
    </div>
</div>